/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
/* В этом селекторе необходимо определить все переменные, которые используются в проекте для темы по умолчанию.
Обратите внимание, что сейчас автотема отображается не по макету https://disk.yandex.ru/i/ZsYhBXrn_MaALw
https://skr.sh/sR7WljdYluG */

:root {
  --page-main-font-family: "Inter", sans-serif;
  --page-main-font-weight: var(--font-weight);
  --page-font-title: var(--title-weight);
  --page-accent-font-family: "PressStart2P", fantasy;
  --heart-contour-color: var(--accent-color);
  
  
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-green: #00CC14;
  --color-red: #FF0000;
}
